
/* @font-face {
    font-family: "headerfont";
    src: url(Something Strange.ttf)
  } */
  

header{
    text-align: center;
    font-weight: bold;
    
}

body{
background-color: white;
}
#button-container{
    background-color: #daa;
    border-radius: 15px;
    align-content: center;
    font-weight: bold;
}
#buttons{
    list-style-type: none;
    

}
#buttons li{
    display: inline-block;
    border: solid;
    background: #adf;
    padding: .25em .5em;
    margin: .5em .25em;
    color: #000;
    font-weight: bold;
    border-radius: 25px;
    
}

#images li{
    display: inline-block;
    border: solid
    list-style-type: none;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 1em;
    margin: 1em;
}

#images img{
    margin: 1em;
    padding: 1em;
}

#images{
    border-radius: 50px;
    margin: 0 0 1em;
}
#images li p 
{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
#submit-container{
    background-color: #daa;
    font-weight: bold;
    width: 500px;
    padding: .25px;
    text-align: center;
    border-radius: 15px;
    margin: 1em auto;
}

/* @ media screen */